footer.footer
	.container
		.six.columns
			a(href='https://themis.in') The Mother's International School
		.six.columns.right
			h6 
				a(href="//madewithlove.org.in" target="_blank") Made with 
					i.fa.fa-heart.heart
					|  in India