extends layout
block content
	.container
		.eight.columns
			h1.semi Centres
			h5 This is the Centres page. It'll have information about all the centers where people can go and vote. Design it so that the page has multiple centers listed. make cards/add a map? idk firgure it out, make it look sex.
		.u-cf

		.card.vote
			img(src="https://im-media.voltron.voanews.com/Drupal/01live-166/styles/892x501/s3/2020-06/ap_elect1.jpg?itok=mhN8OjEb" alt="" srcset="")
			h3.center Scarsdale
			h5.center New York