extends layout
block content
	.container
		.dash
			h1.semi.zero Dashboard
			h5 Your personal dashboard at Elire.
			if success_msg
				h5= success_msg

			#dashstuff
				.row
					.flex-center
						.six.columns
							.card
								h1.center.semi.teamname Hi, #{currentUser.name.split(' ')[0]}	
								.flex-center
									if !currentUser.voted
										a(href="/candidates")
											button.cool.mu Vote now
									if currentUser.voted
										h4.center.orange Thank you for voting!
									a(href="/edit")
										button.cool.mu Edit Profile

							if currentUser.role == 'admin'
								.card
									h2.semi Admin Panel
									h5.admin.semi(style="margin-bottom: 1em") Here's to the elite :)
									p Total Votes: #{votes.length}
									h4 Voter list:
									each vote in votes
										p(style="margin: 0") vote by #{vote.bywho}
