extends layout

block content
	.container.error
		.err
			h1.error :(
			h5.error Oopsie Woopsie! Uwu we made a yucky wucky!! A wittle messy boingo! The code monkeys at our headquarters are working VEWY HAWD to fix this!
			h5
				a.error(href="/") Go back
