extends layout
block content
	//- img.bgcircle(src="/img/bg2.svg" alt="")
	.container
		.vh
			.homecon
				.six.columns.hometext
					h1 Elire
					h5.home A new way to vote in today's United States.
					a(href="/dashboard")
						button.button-primary.cool Dashboard

				.six.columns
					img(src="/img/mock.svg", alt="")